*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-color{
    color: #FF42A5;
    
}
.company-name{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
    
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.right-part-container{
    display: flex;
}

.right-part-item{
    margin-right: 25px;
}

.header1-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 66, 165, .05);
    padding-left: 150px;
    padding-right: 100px;
    align-items: center;
}

.header2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header2-items{
    text-align: right;
}

.main-1-container{
    padding-left: 100px;
    padding-right: 100px;
}

.main-1-items-2{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    
}

.main-2-container{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.main-2-text{
    text-align: right;
}

.main-3-container{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    background-color: #0B0223;
    color: white;
    padding: 150px;
}

.footer-item2{
    display: flex;
    list-style: none;
    
}

.footer-sec-2{
    align-items: center;
    justify-content: center;
}

footer li{
    margin-right: 50px;
}

.social-media{
    display: flex;
}